@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  padding: 8rem 10rem;
}

input {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 2rem auto;
  margin-bottom: 0.5rem;
}

span {
  font-size: 3rem;
}
